<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmLand</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"  th:href="@{css/home/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/home/_header.css}">
    <script>
        function submitFilm(selectElement) {
            var maphim = selectElement.value;
            var form = document.getElementById("filmForm");
            form.action = "/home/showTimeByIdFilm/" + maphim;
            form.submit();
        }
        function submitDay(selectElement){
            var ngaychieu= selectElement.value;
            var form= document.getElementById("dayForm");
            form.action="/home/showTimeByIdFilmAndDay/" + ngaychieu;
            form.submit();
        }
    </script>
    <style>

    </style>
</head>
<body id="top">

<!--
  - #HEADER
-->
<header th:replace="~{/fragment/home/_header.html :: header}"></header>

<main>
    <article>

        <!--
          - #HERO
        -->

        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <p class="hero-subtitle">Filmlane</p>
                    <h1 class="h1 hero-title">
                        Unlimited <strong>Movie</strong>, TVs Shows, & More.
                    </h1>
                    <div class="meta-wrapper">
                        <div class="badge-wrapper">
                            <div class="badge badge-fill">PG 18</div>

                            <div class="badge badge-outline">FHD</div>
                        </div>
                        <div class="ganre-wrapper">
                            <a href="#">Romance,</a>

                            <a href="#">Drama</a>
                        </div>
                        <div class="date-time">
                            <div>
                                <ion-icon name="calendar-outline"></ion-icon>

                                <time datetime="2022">2022</time>
                            </div>
                            <div>
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT128M">128 min</time>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">
                        <ion-icon name="play"></ion-icon>
                        <span>Watch now</span>
                    </button>
                </div>
            </div>
        </section>
        <!--
          - #UPCOMING
        -->
        <section class="upcoming">
            <div class="container">
                <div class="flex-wrapper">
                    <div class="title-wrapper">
                        <p class="section-subtitle">Online Streaming</p>
                        <h2 class="h2 section-title">Hot Movies</h2>
                    </div>
                    <ul class="filter-list">
                        <li>
                            <button class="filter-btn">Movies</button>
                        </li>
                        <li>
                            <button class="filter-btn">TV Shows</button>
                        </li>
                        <li>
                            <button class="filter-btn">Anime</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
            <ul class="movies-list  has-scrollbar">
                    <li th:each="film,iter  : ${films}" th:if="${iter.count <= 4}">
                        <div class="movie-card">
                            <a th:href="@{'/home/detail/' + ${film.maphim}}">
                                <figure class="card-banner">
                                    <img th:src="@{'/images/'+ ${film.hinhanh}}">
                                </figure>
                            </a>
                            <div class="title-wrapper">
                                <a href="/home/detail/${film.maphim}">
                                    <h3 class="card-title">[[${film.tenphim}]]</h3>
                                </a>
                                <time datetime="2022">[[${film.ngaysanxuat}]]</time>
                            </div>
                            <div class="card-meta">
                                <div class="badge badge-outline">HD</div>
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>
                                    <time datetime="PT137M">[[${film.thoiluong}]]</time>
                                </div>
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>
            </ul>
            </div>
        </section>
        <!--
        - #MOVIE CARD
      -->
        <!--
          - #SERVICE
        -->
        <section class="service">
            <div class="container">
                <div class="service-banner">
                    <figure>
                        <img src="/images/service-banner.jpg" alt="HD 4k resolution! only $3.99">
                    </figure>

                    <a href="/images/service-banner.jpg" download class="service-btn">
                        <span>Download</span>

                        <ion-icon name="download-outline"></ion-icon>
                    </a>
                </div>

                <div class="service-content">

                    <p class="service-subtitle">Our Services</p>

                    <h2 class="h2 service-title">Download Your Shows Watch Offline.</h2>

                    <p class="service-text">
                        Lorem ipsum dolor sit amet, consecetur adipiscing elseddo eiusmod tempor.There are many variations of
                        passages of lorem
                        Ipsum available, but the majority have suffered alteration in some injected humour.
                    </p>

                    <ul class="service-list">

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <ion-icon name="tv"></ion-icon>
                                </div>

                                <div class="card-content">
                                    <h3 class="h3 card-title">Enjoy on Your TV.</h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.
                                    </p>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <ion-icon name="videocam"></ion-icon>
                                </div>

                                <div class="card-content">
                                    <h3 class="h3 card-title">Watch Everywhere.</h3>

                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--
          - #TOP RATED
        -->

        <section class="top-rated">
            <div class="container">
                <p class="section-subtitle">Online Streaming</p>
                <h2 class="h2 section-title">Top Rated Movies</h2>
                <ul class="filter-list">
                    <li>
                        <button class="filter-btn">Movies</button>
                    </li>
                    <li>
                        <button class="filter-btn">TV Shows</button>
                    </li>
                    <li>
                        <button class="filter-btn">Documentary</button>
                    </li>
                    <li>
                        <button class="filter-btn">Sports</button>
                    </li>
                </ul>
                <ul class="movies-list">
                </ul>
            </div>
        </section>
        <!--
          - #TV SERIES
        -->
        <section class="tv-series">
            <div class="container">
                <p class="section-subtitle">Best TV Series</p>
                <h2 class="h2 section-title">World Best TV Series</h2>
                <ul class="movies-list">
                    <li th:each="film,iter : ${films}" th:if="${iter.count >=4 and iter.count<=10}">
                        <div class="movie-card">
                            <a th:href="@{'home/detail/' + ${film.maphim}}">
                                <figure class="card-banner">
                                    <img th:src="'/images/'+ ${film.hinhanh}" alt="Moon Knight movie poster">
                                </figure>
                            </a>
                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">[[${film.tenphim}]]</h3>
                                </a>
                                <time datetime="2022">[[${#dates.format(film.ngaysanxuat,'MM/yyyy')}]]</time>
                            </div>
                            <div class="card-meta">
                                <div class="badge badge-outline">2K</div>
                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>
                                    <time datetime="PT47M"> [[${film.thoiluong}]] minutes </time>
                                </div>
                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>
                                    <data>8.6</data>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--
          - #CTA
        -->
        <section class="cta">
            <div class="container">
                <div class="title-wrapper">
                    <h2 class="cta-title">Trial start first 30 days.</h2>
                    <p class="cta-text">
                        Enter your email to create or restart your membership.
                    </p>
                </div>
                <form action="" class="cta-form">
                    <input type="email" name="email" required placeholder="Enter your email" class="email-field">
                    <button type="submit" class="cta-form-btn">Get started</button>
                </form>
            </div>
        </section>
    </article>
</main>
<!--
  - #FOOTER
-->
<div th:replace="~{/fragment/home/_footer.html :: footer}"></div>
<!--
  - #GO TO TOP
-->
<a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
</a>
<!--
  - ionicon link
-->
<script>
    $(document).ready(function(){
        // ajax call getAll API
        $.ajax({
            url: '/api/film',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                if(data){
                    console.log(data);
                        var FilmTable = $('#FilmTable');
                        FilmTable.empty();
                        $.each(data.Films, function(index, film) {
                            const listItem=$('<li></li>');
                            const cell=$('<div></div>').text(film.tenphim);
                            listItem.append(cell);
                            FilmTable.append(listItem);
                            console.log(film.tenphim);
                        });
                }else{
                    console.error('Failed to load Film',data);
                }
            },
            error:function(error){
                console.error('Error fetching Film: ',error);
            }
        });

        // ham display lay du lieu tu getALL fill len form

    });
</script>
</body>
</html>